@model List<Car>

<h2>Reserve a Car</h2>

<form method="post" asp-action="TryReserveCar">
    <label for="customerId">Customer ID:</label>
    <input type="number" id="customerId" name="customerId" required />

    <label for="carSelection">Choose a Car:</label>
    <select id="carSelection" name="plateId" required>
        <option value="">-- Select a Car --</option>
        @foreach (var car in Model)
        {
            <option value="@car.PlateId"> @car.PlateId - @car.Model (@car.Year)</option>
        }
    </select>

    <label for="payment">Payment Method:</label>
    <input type="number" id="payment" name="payment" required />

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required />


    <button type="submit">Reserve</button>
</form>

@if (ViewData["Message"] != null)
{
    <div>@ViewData["Message"]</div>
}
